<a href="https://colab.research.google.com/github/rajeshmore1/Tasks---Python/blob/main/Assignment_Solution_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u> Use only those concepts which have been taught till now </u>

# <b><u> Problem 1: </u> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>

In [ ]:
# Your code here
import pandas as pd
import numpy as np
import ast

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data/Data Wrangling/imdb_data.csv')
df.head(2)

In [ ]:
df['profit'] = df.revenue - df.budget
df['profit'].replace([np.inf, -np.inf], 0, inplace=True) 
pd.options.display.float_format = '{:.4f}'.format
df.profit

In [ ]:
df['new_cast'] = df.cast.fillna('[]').apply(ast.literal_eval)
df['new_genre'] = df.genres.fillna('[]').apply(ast.literal_eval)

df['new_cast'] = df.new_cast.apply(lambda x:[i['name'] for i in x] if isinstance(x,list) else [])
df['new_genre'] = df.new_genre.apply(lambda x: [i['name'] for i in x] if isinstance(x,list) else [])
df.head(2)

In [ ]:
new_df = df.explode('new_cast')
top_actors = pd.DataFrame(new_df.new_cast.value_counts()).reset_index()
top_actors.columns = ['Actors','Number Of Movies']
top_actors.head(3)

In [ ]:
#printing genre and mean
grouped_actors = new_df.groupby('new_cast').agg({'new_genre':'sum','profit':'mean'}).reset_index()
grouped_actors.loc[(grouped_actors.new_cast=='Robert De Niro') | (grouped_actors.new_cast=='Samuel L. Jackson') | (grouped_actors.new_cast=='Morgan Freeman')].rename({'profit':'mean_profit'},axis=1)

# <b><u> Problem 2 :</u> Top 3 directors prefer which actors the most?

In [ ]:
# Your code here 
def find_directors(li):
  #print(li)
  job_iterator = 0

  if type(li)!= float:
    li = ast.literal_eval(li)
    while True:
      if li[job_iterator]['job']!='Director':
        job_iterator+=1
      else:
        return li[job_iterator]['name']

 
 
df['director_name'] = df.apply(lambda x: find_directors(x['crew']),axis = 1)
grouped_pop = df.groupby('director_name')['popularity'].mean().sort_values(ascending = False).reset_index()
grouped_pop.head(3)

In [ ]:
pop_dir_actors_1 = list(df[df['director_name'] == grouped_pop['director_name'][0]]['new_cast'])[0]
pop_dir_actors_2 = list(df[df['director_name'] == grouped_pop['director_name'][1]]['new_cast'])[0]
pop_dir_actors_3 = list(df[df['director_name'] == grouped_pop['director_name'][2]]['new_cast'])[0]

In [ ]:
#actors prefered by tim miller
pop_dir_actors_1

In [ ]:
#actors prefered by James Gunn
pop_dir_actors_2

In [ ]:
#prefered by Edgar Wright	
pop_dir_actors_3

# <b><u>Problem 3 :</u> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI.

In [ ]:
movie producers directors

movie1 [p1, p2] [d1, d2]
movie2 [p3, p4] [d3, d4]

movie producers roi

movie1 p1 12
movie1 p2 13
movie2 p3 14
movie2 p4 15

In [ ]:
producer   movies            average_roi
p1.    [m1, m2, m3]    avg_roi(m1, m2, m3)
p2     [m2, m4, m5]    avg_roi(m2, m4, m5)

In [ ]:
imdb_df.head()

   id                              belongs_to_collection  ...    profit          roi
0   1  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...  -1685349   -12.038207
1   2  [{'id': 107674, 'name': 'The Princess Diaries ...  ...  55149435   137.873588
2   3                                                NaN  ...   9792000   296.727273
3   4                                                NaN  ...  14800000  1233.333333
4   5                                                NaN  ... -15576030   -79.877077

[5 rows x 25 columns]

In [ ]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
 23  profit                 3000 non-null   int64
 24  roi                    3000 non-null   float64
dtypes: float64(3), int64(4), object(18)
memory usage: 586.1+ KB

In [ ]:
imdb_df_no_na_crew = imdb_df[~imdb_df['crew'].isna()]

In [ ]:
len(imdb_df_no_na_crew)

2984

In [ ]:
def get_producers_and_directors(string_rep_of_crew_list):
  try:
    crew_list = literal_eval(string_rep_of_crew_list)
    producer_list = []
    director_list = []
    for elem in crew_list:
      if elem['job']=='Producer':
        producer_list.append(elem['name'])
      if elem['job']=='Director':
        director_list.append(elem['name'])
    return producer_list, director_list
  except:
    return [], []

In [ ]:
get_producers_and_directors(imdb_df_no_na_crew.loc[1, 'crew'])

(['Whitney Houston', 'Mario Iscovich', 'Debra Martin Chase'],
 ['Garry Marshall'])

In [ ]:
imdb_df[['producers', 'directors']] = imdb_df.apply(lambda s: get_producers_and_directors(s['crew']), axis=1, result_type="expand")
#imdb_df[['pnd']] = imdb_df.apply(lambda s: get_producers_and_directors(s['crew']), axis=1)

In [ ]:
imdb_df.head()

   id  ...                                                pnd
0   1  ...                     ([Andrew Panay], [Steve Pink])
1   2  ...  ([Whitney Houston, Mario Iscovich, Debra Marti...
2   3  ...  ([David Lancaster, Michel Litvak, Jason Blum, ...
3   4  ...                     ([Sujoy Ghosh], [Sujoy Ghosh])
4   5  ...                             ([], [Jong-seok Yoon])

[5 rows x 28 columns]

In [ ]:
{
    'p1':{'movies':['m1, m2, m3'], 'avg_roi':23},
 'p2':{}

}

In [ ]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
 23  profit                 3000 non-null   int64
 24  roi                    3000 non-null   float64
 25  producers              3000 non-null   object
 26  directors              3000 non-null   object
 27  pnd                    3000 non-null   object
dtypes: float64(3), int64(4), object(21)
memory usage: 656.4+ KB

In [ ]:
producer_dict = {}
for index, row in imdb_df.iterrows():
  for producer in row['producers']:
    if producer not in producer_dict.keys():
      # add producer in dict
      producer_dict[producer] = [row['roi']]
    else:
      # update the movie for this producer
      value = producer_dict[producer]
      value.append(row['roi'])
      producer_dict[producer] = value

In [ ]:
#data = {'row_1': [3, 2, 1, 0], 'row_2': ['a', 'b', 'c', 'd']}
pd.DataFrame.from_dict(producer_dict, orient='index').mean(axis=1).reset_index().rename(columns={'index':'producer', 0:'average_roi'}).sort_values('average_roi', ascending=False)

                producer  average_roi
2635       Michael White  9307.693250
1526       Gregg Hoffman  8559.305750
3205      Nelson Greaves  6188.209000
2842    Howard G. Minsky  6100.000000
1264      Norman Spencer  5458.946615
...                  ...          ...
1804     Arthur H. Nadel   -99.999964
1805        Lou Scheimer   -99.999964
1970          Elia Kazan   -99.999974
601    Pushpa Kandaswamy   -99.999985
2541  Erich von Stroheim   -99.999995

[3546 rows x 2 columns]